* {
    margin: 0;
    padding: 0;
}

:root {
    --fontRob: "Roboto Serif", serif;
    --fontWork: "Work Sans", sans-serif;

    --color60: #f9f6ee;
    --color60Aux: #ece4ce;
    --color30: #282b30;
    --color10: #b73c3c;
}

@mixin resetmp {
    padding: 0%;
    margin: 0%;
}

@mixin fonth1 {
    font-family: var(--fontWork);
    font-weight: 420;
    letter-spacing: -0.1rem;
    font-size: 3rem;
}

@mixin fonth2 {
    font-family: var(--fontRob);
    font-weight: 0;
    font-size: 3rem;
}

@mixin fonth3 {
    font-family: var(--fontRob);
    font-style: italic;
    font-weight: 0;
    font-size: 3rem;
    //background-color: #b73c3c;
}
@mixin fonth4 {
    font-family: var(--fontWork);
    font-weight: 500;
    letter-spacing: -0.004rem;
}

@mixin fonth5 {
    font-family: var(--fontWork);
    font-weight: 400;
    letter-spacing: 0%;
    font-size: 0.8rem;
    text-align: justify;
}

@mixin fontText {
    font-family: var(--fontWork);
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.005rem;
    line-height: 1rem;
}

@mixin fontButton02 {
    font-family: var(--fontWork);
    font-weight: 500;
}

@mixin fontTextMedium {
    font-family: var(--fontWork);
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: -0.005rem;
    line-height: 0.8rem;
}

@mixin fontTextLink {
    font-family: var(--fontWork);
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: -0.005rem;
    text-decoration: underline;
}

@mixin btn {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.7rem;
    background-color: var(--color10);
    border: none;
    border-radius: 0.8rem;
    font-family: var(--fontWork);
    font-weight: 500;
    color: var(--color60);
    text-decoration: none;
}

body {
    background-color: var(--color60);
    .box {
        @include resetmp();
        padding: 5%;
        // Header
        .header {
            @include resetmp();
            display: flex;
            justify-content: space-between;
            // background-color: purple;
            .headerLogo {
                display: flex;
                justify-content: flex-start;
                align-items: end;                
                //background-color: greenyellow;
                h5 {
                    @include resetmp();
                    @include fonth5();
                    font-weight: 500;
                    padding-left: 5%;
                }
                .logo {
                    width: 8%;
                }
            }
            .headerNav {
                
                @include resetmp();
                width: 100%;

                .nav {
                    @include resetmp();
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    list-style: none;
                    .nav-item {
                        @include resetmp();
                        padding-left: 0%;
                        padding-left: 15%;
                        a {
                            @include resetmp();
                            @include fonth5();
                            padding-bottom: -50%;
                            color: var(--color30);
                            text-decoration: none;
                            //background-color: #b73c3c;
                            font-size: 0.8rem;
                            font-weight: 500;
                            
                        }
                    }
                }
             
            }
        }
        // HOME
        .home {
            @include resetmp();
            padding-top: 15%;
            h1 {
                @include fonth1();
                //font-size: 2rem;

                span {
                    @include fonth2();
                    //font-size: 2rem;
                }
            }
            p {
                @include fontText();
                //width: 70%;
                padding-top: 5%;
            }
            .btnBox {
                @include resetmp();
                padding-top: 5%;
                .btn {
                    @include btn();
                }
                .btn:hover {
                    opacity: 100%;
                }
            }
        }
        // PORTFOLIO
        .portfolio {
            padding-top: 10%;
            .porRow {
                //background-color: #282b30;
                h5 {
                    @include fonth5();
                    font-size: 1rem;
                    padding-left: 4%;
                }
                .porColCss {
                    @include resetmp();
                    padding-top: 5%;
                    padding-bottom: 5%;
                    .porBox {
                        background-color: rgb(178, 178, 247);
                        height: 380px;
                        border-radius: 1rem;
                        opacity: 1;
                        background-repeat: none;
                        background-size: cover;
                    }
                    .porBoxA {
                        background-image: url("../img/graphic_design_01.jpg");
                    }
                    .porBoxB {
                        background-image: url("../img/logos_02.jpg");
                        
                    }
                    .porBoxC {
                        background-image: url("../img/web_design_01.jpg");
                    }
                }
            }
        }
        // ABOUT
        .about {
            padding-top: 20%;
            .aboutHead {
                .profilePicture {
                    width: 25%;
                    border-radius: 5rem;
                }
                h1 {
                    @include fonth1();
                    padding-bottom: 4%;
                    padding-top: 10%;
                    span {
                        @include fonth3();
                        //background-color: red;
                    }
                }
                p {
                    @include fonth4();
                    //background-color: red;
                }
            }
            .aboSec {
                padding-top: 10%;
                h1 {
                    @include fonth4();
                    font-size: 1.1rem;
                    span {
                        @include fonth3();
                    }
                }
                .aboutGroup {
                    border-top: var(--color30) solid 0.1rem;
                    padding-top: 5%;
                    .aboutItem {
                        
                        h2 {
                            @include fontTextMedium();
                            color: var(--color10);
                            text-align: start;
                        }
                        p {
                            @include fontText();
                            font-size: 0.6rem;
                        }
                        a {
                            @include fontTextMedium();
                            text-decoration: underline;
                            opacity: 0.5;
                            text-align: start;
                        }

                        .colA {
                            @include resetmp();
                        }
                        .colB {
                            @include resetmp();
                            text-align: start;
                            padding-right: 5%;
                        }
                        .colC {
                            @include resetmp();
                            text-align: center;
                            //padding-left: 5%
                        }
                    }
                }
            }
            .btnGroup {
                @include resetmp();
                padding-top: 5%;
                padding-bottom: 5%;
                .btnBox {
                    @include resetmp();
                    display: flex;
                    justify-content: flex-end;
                    .btn {
                        @include btn();
                        background-color: var(--color60Aux);
                        color: var(--color30);
                        margin-left: 10%;
                    }
                }
            }
        }
    }
    footer {
        background-color: rgba(236, 228, 206, 0.4);
        background-color: #ece4ce66;
        padding: 15%;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        .footerLogo {
            display: flex;
            justify-content: flex-start;
            align-items: end;
            width: 100%;
            //background-color: greenyellow;
            h5 {
                @include resetmp();
                @include fonth5();
                font-weight: 500;
                padding-left: 5%;
            }
            .logo {
                width: 5%;
            }
        }
        .footerEmail {
            padding-top: 15%;

            h2 {
                @include resetmp();
                @include fonth1();
                font-size: 2.5rem;
                span {
                    @include fonth3();
                    font-size: 2.5rem;
                }
            }
            a {
                @include fontTextLink();
                color: var(--color30);
                font-size: 1.3rem;
            }
        }
        .footerLink {
            padding-top: 15%;
            display: flex;
            flex-direction: column;
            h5 {
                @include fonth5();
                font-size: 0.8rem;
            }
            a {
                color: var(--color30);
                @include fontButton02();
                padding-top: 2%;
            }
            .arrowBox {
                @include resetmp();
                display: flex;
                justify-content: flex-start;
                align-items: end;
                .arrow {
                    width: 15px;
                    height: 25px;
                    transform: rotate(-45deg);
                    margin-left:2% ;
                }
            }
        }

        .footerEnd {
            padding-top: 15%;
            h5 {
                @include fonth5();
                font-weight: 500;
                font-size: 0.65rem;
                opacity: 0.5;
                text-align: left;
            }
            p {
                padding-top:2%;
                @include fontText();
                width: 100%;
            }
            .span {
                @include fontText();
                color: var(--color30);
                padding-top: 10%;
                font-size: 0.6rem;
                font-weight: 500;
            }
        }
    }
}
