@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

:root {
  --fontRob: "Roboto Serif", serif;
  --fontWork: "Work Sans", sans-serif;
  --color60: #f9f6ee;
  --color60Aux: #ece4ce;
  --color30: #282b30;
  --color10: #b73c3c;
}

body {
  background-color: var(--color60);
}

body .box {
  padding: 0%;
  margin: 0%;
  padding: 5%;
}

body .box .header {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box .header .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

body .box .header .headerLogo h5 {
  padding: 0%;
  margin: 0%;
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: 500;
  padding-left: 5%;
}

body .box .header .headerLogo .logo {
  width: 8%;
}

body .box .header .headerNav {
  padding: 0%;
  margin: 0%;
  width: 100%;
}

body .box .header .headerNav .nav {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  list-style: none;
}

body .box .header .headerNav .nav .nav-item {
  padding: 0%;
  margin: 0%;
  padding-left: 0%;
  padding-left: 15%;
}

body .box .header .headerNav .nav .nav-item a {
  padding: 0%;
  margin: 0%;
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  padding-bottom: -50%;
  color: var(--color30);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

body .box .home {
  padding: 0%;
  margin: 0%;
  padding-top: 15%;
}

body .box .home h1 {
  font-family: var(--fontWork);
  font-weight: 420;
  letter-spacing: -0.2rem;
  font-size: 3.5rem;
  line-height: 4rem;
}

body .box .home h1 span {
  font-family: var(--fontRob);
  font-weight: 0;
  font-size: 3.5rem;
}

body .box .home p {
  font-family: var(--fontWork);
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: -0.005rem;
  line-height: 1.5rem;
  padding-top: 5%;
}

body .box .home .btnBox {
  padding: 0%;
  margin: 0%;
  padding-top: 5%;
}

body .box .home .btnBox .btn {
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: var(--color60Aux);
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  font-family: var(--fontWork);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color30);
  background-color: var(--color10);
  color: var(--color60);
}

body .box .home .btnBox .btn:hover {
  opacity: 100%;
}

body .box .portfolio {
  padding-top: 10%;
}

body .box .portfolio .porRow h5 {
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  font-size: 1rem;
  padding-left: 4%;
}

body .box .portfolio .porRow .porColCss {
  padding: 0%;
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

body .box .portfolio .porRow .porColCss p {
  padding-top: 5%;
}

body .box .portfolio .porRow .porColCss .btn {
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: var(--color60Aux);
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  font-family: var(--fontWork);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color30);
}

body .box .portfolio .porRow .porColCss .porBox {
  background-color: #b2b2f7;
  height: 380px;
  border-radius: 1rem;
  opacity: 1;
  background-repeat: none;
  background-size: cover;
}

body .box .portfolio .porRow .porColCss .porBoxA {
  background-image: url("../img/graphic_design_01.jpg");
}

body .box .portfolio .porRow .porColCss .porBoxB {
  background-image: url("../img/logos_02.jpg");
}

body .box .portfolio .porRow .porColCss .porBoxC {
  background-image: url("../img/web_design_01.jpg");
}

body .box .about {
  padding-top: 20%;
}

body .box .about .aboutHead .profilePicture {
  width: 25%;
  border-radius: 5rem;
}

body .box .about .aboutHead h1 {
  font-family: var(--fontWork);
  font-weight: 420;
  letter-spacing: -0.2rem;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-bottom: 4%;
  padding-top: 10%;
}

body .box .about .aboutHead h1 span {
  font-family: var(--fontRob);
  font-style: italic;
  font-weight: 0;
  font-size: 3rem;
}

body .box .about .aboutHead p {
  font-family: var(--fontWork);
  font-weight: 500;
  letter-spacing: -0.004rem;
}

body .box .about .aboSec {
  padding-top: 10%;
}

body .box .about .aboSec h1 {
  font-family: var(--fontWork);
  font-weight: 500;
  letter-spacing: -0.004rem;
  font-size: 1.1rem;
}

body .box .about .aboSec h1 span {
  font-family: var(--fontRob);
  font-style: italic;
  font-weight: 0;
  font-size: 3rem;
}

body .box .about .aboSec .aboutGroup {
  border-top: var(--color30) solid 0.1rem;
  padding-top: 5%;
}

body .box .about .aboSec .aboutGroup .aboutItem h2 {
  font-family: var(--fontWork);
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: -0.005rem;
  line-height: 0.8rem;
  color: var(--color10);
  text-align: start;
}

body .box .about .aboSec .aboutGroup .aboutItem p {
  font-family: var(--fontWork);
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: -0.005rem;
  line-height: 1.5rem;
  font-size: 0.6rem;
}

body .box .about .aboSec .aboutGroup .aboutItem a {
  font-family: var(--fontWork);
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: -0.005rem;
  line-height: 0.8rem;
  text-decoration: underline;
  opacity: 0.5;
  text-align: start;
}

body .box .about .aboSec .aboutGroup .aboutItem .colA {
  padding: 0%;
  margin: 0%;
}

body .box .about .aboSec .aboutGroup .aboutItem .colB {
  padding: 0%;
  margin: 0%;
  text-align: start;
  padding-right: 5%;
}

body .box .about .aboSec .aboutGroup .aboutItem .colC {
  padding: 0%;
  margin: 0%;
  text-align: center;
}

body .box .about .btnGroup {
  padding: 0%;
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

body .box .about .btnGroup .btnBox {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .box .about .btnGroup .btnBox .btn {
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: var(--color60Aux);
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  font-family: var(--fontWork);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color30);
  background-color: var(--color60Aux);
  color: var(--color30);
  margin-left: 10%;
}

body footer {
  background-color: #ece4ce66;
  padding: 15%;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

body footer .footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

body footer .footerLogo h5 {
  padding: 0%;
  margin: 0%;
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: 500;
  padding-left: 5%;
}

body footer .footerLogo .logo {
  width: 5%;
}

body footer .footerEmail {
  padding-top: 15%;
}

body footer .footerEmail h2 {
  padding: 0%;
  margin: 0%;
  font-family: var(--fontWork);
  font-weight: 420;
  letter-spacing: -0.2rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-size: 2.5rem;
}

body footer .footerEmail h2 span {
  font-family: var(--fontRob);
  font-style: italic;
  font-weight: 0;
  font-size: 3rem;
  font-size: 2.5rem;
}

body footer .footerEmail a {
  font-family: var(--fontWork);
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: -0.005rem;
  text-decoration: underline;
  color: var(--color30);
  font-size: 1.3rem;
}

body footer .footerLink {
  padding-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footerLink h5 {
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  font-size: 0.8rem;
}

body footer .footerLink a {
  color: var(--color30);
  font-family: var(--fontWork);
  font-weight: 500;
  padding-top: 2%;
}

body footer .footerLink .arrowBox {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

body footer .footerLink .arrowBox .arrow {
  width: 15px;
  height: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 2%;
}

body footer .footerEnd {
  padding-top: 15%;
}

body footer .footerEnd h5 {
  font-family: var(--fontWork);
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: 500;
  font-size: 0.65rem;
  opacity: 0.5;
  text-align: left;
}

body footer .footerEnd p {
  padding-top: 2%;
  font-family: var(--fontWork);
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: -0.005rem;
  line-height: 1.5rem;
  width: 100%;
}

body footer .footerEnd .span {
  font-family: var(--fontWork);
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: -0.005rem;
  line-height: 1.5rem;
  color: var(--color30);
  padding-top: 10%;
  font-size: 0.6rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  /* Estilos específicos para pantallas extra pequeñas */
  body {
    background-color: red;
  }
}
/*# sourceMappingURL=style.css.map */